<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>9496F01D-ADCC-4D00-A62B-CEB1DD32AD3C</string>
	<key>storeUUID</key>
	<string>6C00B271-EA2F-41D4-BB1B-CA483FE0938E</string>
</dict>
</plist>
