<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-12-24T14:06:54Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-12-24T14:06:54Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-12-24T15:44:12Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-12-24T14:06:54Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-12-24T09:41:47Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-12-24T09:41:47Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-12-24T15:44:12Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-12-19T13:35:44Z</date>
	<key>PHAAssetRevGeocodeEnrichmentTask</key>
	<date>2022-02-23T05:02:50Z</date>
	<key>PHACachingCPAnalyticsPropertiesTask</key>
	<date>2022-02-23T05:02:51Z</date>
	<key>PHAFeaturesUsageReportingTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAGraphConsistencyTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAGraphRebuildTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAHighlightCollectionEnrichmentTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAHighlightEnrichmentTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAMediaSampleReportingTask</key>
	<date>2022-02-23T05:02:51Z</date>
	<key>PHAMemoriesEnrichmentTask</key>
	<date>2022-02-23T05:02:51Z</date>
	<key>PHAMemoryElectionTask</key>
	<date>2022-02-23T05:02:50Z</date>
	<key>PHAPeopleSuggestionEnrichmentTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAPortraitDonationEnrichmentTask</key>
	<date>2022-02-23T05:02:51Z</date>
	<key>PHASearchEnrichmentTask</key>
	<date>2022-02-23T05:02:51Z</date>
	<key>PHASuggestionGenerationTask</key>
	<date>2022-02-23T05:02:50Z</date>
	<key>PHASyndicationTask</key>
	<date>2022-02-23T05:02:45Z</date>
	<key>PHAUserBehaviorEnrichmentTask</key>
	<date>2022-02-19T08:55:23Z</date>
	<key>PHAWeeklyHighlightEnrichmentTask</key>
	<date>2022-01-25T05:09:03Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-12-24T14:31:49Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-12-24T09:41:47Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-12-24T15:44:12Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-12-24T14:06:55Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-12-24T09:41:48Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-12-24T09:41:47Z</date>
</dict>
</plist>
